Project 1 : REQUIREMENTS

Create the REST API for you web application, have the login functionality and API demo written pure HTML, CSS, Javascript. JQuery and Bootstrap must be used.

Create Login functionality of your web application

These are the Login related functionalities. The user should be able to

Login, logout, sign in, reset password, recover username (if different than email)
Once logged in, the user should have access to a personalized home page.
At this point, you could have only a greeting message
On the foot of the page, inform the last time the user was logged in.
If clicked, the user should see the login history.
The user should be able to change his profile information.
Fully implement the REST API for your web application

Have a documentation section on your website.

In this section, your website must contains examples on how to use each API call.


PROJECT 1 : Cooking Recipe Network(topic)

Share recipes, informing the community you are cooking it right now, whereabout you live, offer free samples of you just cooked.
People can rate the user, the recipe, or the specific meal that was shared.

OUTCOMES

In this project, each team should develop a Online Platform to provide a service to the people from Thunder Bay. The aim of the application is to enhance somehow their lifestyle.
The goal of the project is to evaluate the team work and management of each group, as well as access their proficiency in Javascript development with integration with the relational Database MySQL.
The website should be composed of static HTML, CSS and JS files. However, from the user experience perspective, the website will be dynamic. Javascript must be used to request DATA from the server using a REST API and modify the website interface accordingly.
The JQuery and Bootstrap libraries are required to be used.
Among the project files, you must include the items below. Marks will be deducted if something is missing.
* db.sql create and populate your own database.
o When generating this file, check the option that creates a schema if it does not exists.
* database schema.png
* usecase diagram.png
* wireframe.png


DATABASE SPECIFICATION
For the project, make sure
* All IDs are BIGINT and Auto Increment
* Add proper table constraints involving Foreign keys.

Project 1 - Milestone A. 5 Marks. Due to Friday, Nov 27th.
PDF Proposal (Slide show)
Explain your idea and LIST your functionalities
Use Case Diagram
Include initial DB modeling, i.e. the Entity Relationship diagram
Simple Wireframe
Project Diagrams:
Also include the items below as separate files, outside of your PDF proposal
Initial DB modeling
Initial Wireframe
Use Case Diagram
NOTE
In every milestone after milestone A, for both Project I and Project II, include these files. Update them accordingly with the development of your project.
Project 1 - Milestone B. 10 Marks. Due to Sunday, Dec. 6th.
Project Diagrams and DB dump updated.
All functionalities related with User login and profile.
Project 1 - Milestone C. 15 Marks. Due to Sunday, Dec. 13th
Project Diagrams and DB dump updated.

Other REST APIs

Documentation part with demonstration of REST API usage

Final Product

All the other functionalities using their respective REST APIs
DB dump updated.
Code Refactor

Make sure to have a modular code and a well organized project structure.
Projects that do not meet this requirement will be penalized.
Youtube Video

Max 8 minutes
Try to sell your product and its API.
No need to price it.

